.brand-logo {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.card-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase; 
}